* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://github.githubassets.com/images/modules/profile/profile-first-repo-dark.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
